:root {
  --basic-black: #000000;
  --basic-gray:#888888;
  --basic-lightgray:#A9A9A9;
  --basic-extra-dark: #293449;
  --basic-dark: #32425C;
  --basic-blue: #3BBCE3;
  --basic-blue-lighten:#F1F5F7;
  --basic-blue-medium:#F3F7F9;
  --basic-light-blue: #F2F6F8;
  --basic-white: #ffffff;
  --basic-red:#EE3643;
  --basic-darkred:#BA2732;
  --basic-extra-light-orange:#F9F5F0;
  --basic-lighten-orange: #F7F3EC;
  --basic-light-orange: #FFD180;
  --basic-orange:#FFBF47;
  --basic-dark-orange:#FFC047;
  --basic-light-green: #8ED78F;
  --basic-green:#5FBB2D;
  --basic-dark-green:#63A63E;
  --basic-light-black:#161D29;
  --basic-light-purple:#DC91D8;
  --basic-light-white:#EAEAEA;
}
.body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}
.page{
  height: 100%;
}
.main-header{
  margin-bottom: 22px;
}
.page-body {
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content ;
  align-content: start;
}
img {
  max-width: 100%;
  height: auto;
}
h1{
  visibility: hidden;
  margin: 0px;
  padding: 0px;
}
.main-header-bar{
  background-color: var(--basic-extra-dark);
}
.main-header{
}
.header-title-wrapper{
  display: grid;
  width: 940px;
  grid-template-columns: 1fr min-content;
  margin: 0 auto;
  padding: 0 10px;
}
.header-title{
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}
.link{
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--basic-white);
}
.header-inner-wrapper{
  background-color: var(--basic-blue-lighten);
}
.header-inner{
  display: grid;
  width: 940px;
  margin: 0 auto;
}
.header-slogan{
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}
.login-link{
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.registration-link{
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.telephone-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  color: var(--basic-red);
}
.address{
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-dark);
}
.main-navigation{
  display: grid;
  width: 940px;
  grid-template-columns: 1fr min-content;
}
.site-navigation{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  background-color:  var(--basic-dark);
  color: var(--basic-white);
}
.container{
  width: 940px;
  margin: 0 auto;
}
.container .container-features{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-self: start;
  margin-bottom: 60px;
}
.container-features h4, h2, p{
  margin: 0px;
  padding: 0px;
}
.feature-item-title{
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}
.slider-title{
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}
.slider-text{
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}
.card-title{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: color: var(--basic-black);
  }
.feature-item-materials{
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: var(--basic-orange);
  width: 300px;
  height: 123px;
}
.feature-item-tool{
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: var(--basic-blue);
  width: 300px;
  height: 123px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.feature-item-tehnics{
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: var(--basic-light-purple);
  width: 300px;
  height: 123px;
}
.slider{
  grid-column: 1/3;
  grid-row: 2/4;
  margin: 0px;
  padding: 0px;
}
.slider-item{
  width: 620px;
  height: 266px;
  background-color: var(--basic-black);
}

.feature-item-discount{
  grid-column: 3/5;
  grid-row: 2/3;
  background-color: var(--basic-light-green);
  width: 300px;
  height: 123px;
}

.feature-item-delivery{
  grid-column: 3/6;
  grid-row: 3/4;
  background-color: var(--basic-dark-orange);
  width: 300px;
  height: 123px;
}
.container-title-goods h3{
  margin: 0px;
  padding: 0px;
}
.container-title-goods{
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}
.container-card-body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 70px;
}
.container-title{
  background-color: var(--basic-extra-light-orange);
}
.old-price{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--lightgray);
}
.card-style{
  background-color: var(--basic-white);
  border: 1px solid var(--basic-light-white);
  width: 220px;
  height: 318px;
  margin-top: 20px;
}
.card-style h4 p{
  margin: 0px;
  padding: 0px;
}
.card-text{
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  width: 141px;
  color: var(--basic-white);
}
.list-goods{
  padding: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.index-columns{
  display: grid;
  grid-template-columns: 460px 300px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.service{
  margin-top: 70px;
  margin-bottom: 100px;
}
.service-body{
  background-color: var(--basic-blue-lighten);
}
.container .service{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
 row-gap: 70px;
}
.wrapper-service{
  grid-column: 1/3;
  grid-row: 1/2;
  height: 100px;
  margin-top: 68px;
}
.button-block{
  margin: 0px;
  padding: 0px;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 240px;
  height: 185px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  list-style: none;
  line-height: 30px;
}
.title-img{
  float: right;
}
.wrapper-delivery{
  grid-column: 3/5;
  grid-row: 2/3;
}
.service-title{
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.contacts .service-title{
  margin-bottom: 35px;
}
.delivery-title{
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}
.service-delivery-text{
  margin: 0px;
  padding-top: 35px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  width: 460px;
}
.button-delivery{
  width: 240px;
  height: 61px;
  background-color: var(--basic-white);
  color: var(--basic-dark);
}
.button-garant{
  width: 240px;
  height: 61px;
  background-color: var(--basic-dark);
  color: var(--basic-white);
}
.contacts {
  width: 300px;
  padding-left: 180px;
}
.contacts p{
  margin: 0px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.company-collaboration{
  margin: 0px;
  padding: 0px;
}
.company-collaboration p{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.company-collaboration{
  list-style: none;
}
.collaboration-item{
font-family: "Cuprum", Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}
.page-footer{
  background-color: var(--basic-dark);
}
.footer-inner{
  margin: 0 auto;
  width: 940px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color:  var(--basic-dark);
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}
.logo{
  width:220px;
  height: 68px;
}
.footer-address p{
  margin: 0px;
  padding: 0px;
  order: 2;
  width: 321px;
  height: 49px;
  color: var(--basic-blue-medium);
}
.footer-navigation ul{
  margin: 0px;
  padding: 0px;
  grid-column: 2/5;
  grid-row: 1/3;
  list-style: none;
}
link ul{
  color: var(--blue-lighten);
}
.footer-site-navigation ul{
  margin: 0px;
  padding: 0px;
}
.footer-site-navigation a{
  text-decoration: none;
}
.white-link{
  text-decoration: none;
  color: var(--basic-blue-medium);
}
.list-navigation{
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light-orange);
}
.footer-row-bacground{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 940px;
}
.footer-row{
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-extra-dark);
}
.feedback-item{
  color: var(--basic-light-orange);
}
.copyright p{
  margin: 0px;
  padding: 0px;
  width: 227px;
}
.social ul{
  margin: 0px;
  padding: 0px;
  width: 132px;
  justify-self: center;
  text-align: center;
  list-style: none;
  text-decoration: none;
}
.feedback p{
  margin: 0px;
  padding: 0px;
  width: 286px;
  justify-self: end;
}
.user{
  text-decoration: none;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.profil{
  text-decoration: none;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark);
}
.list{
  text-decoration: none;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.container-title-catalog{
  background-color: var(--basic-light-blue);
}
.filter-list{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}
.filter-list-title{
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-lighten-orange);
}
.filter-item{
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-black);
}
.filter-item-slider-text{
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-lighten-orange);
}
.filter-item-name{
  text-decoration: none;
  font-size: 15px;
  color: var(--basic-black);
  line-height: 19px;
}
.sorting{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-lighten-orange);
}
.list-price{
  color: var(--basic-red);
}
.list-opacity{
  color: var(--basic-black);
  opacity: 0.3;
}

